body {
  font-family: Arial;
}

h1, h2 {
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: center;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
}

.point, .point-border {
  fill:blue;
}

.point:hover, .point-border:hover {
  fill:violet;
}

.point-border {
  stroke-width: 3px;
  stroke: green;
}

.bar {
  fill: violet;
}

.tooltip {
position: absolute;
background-color: grey;
padding: 5px;
}